<!-- <h1>TODO: Load this page only if user is logged in</h1>
<p>Is logged in: {{ isLoggedIn }}  </p> -->

<nav class="navbar navbar-expand-lg navbar-dark custom-color">
    <a class="navbar-brand" routerLink="/admin">UpStart Commerce</a>
      <ul class="navbar-nav">
        <li class="nav-item">
        <!-- Enable link if user has 'catalog.read' perissions  -->
        <!-- This link should navigate user to /posts -->
          <a class="nav-link" routerLink="/admin/posts" routerLinkActive="active">Posts</a>
        </li>
        <li class="nav-item">
        <!-- Enable link if user has 'user.read' perissions  -->
        <!-- This link should navigate user to /users -->
          <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">Users</a>
        </li>
      </ul>
  </nav>

<div style="height: 90%;">
    <router-outlet></router-outlet>
</div>